<h1 class="jumbotron">Pickup Game Maker</h1>

<%= link_to 'new event', new_event_path(@event) %>
<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Profile', current_user %>

<html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 600px;
      }
    </style>
  </head>
  <body>
      <div id="map"></div>
      <script>

        function initMap() {
          var mapDiv = document.getElementById('map');

          var map = new google.maps.Map(mapDiv, {
            center: {lat: 48.4267026, lng: -123.3935215},
            zoom: 8
          });

          $.get( "events.json", function( data ) {
            $.each(data, function(key, value) {
              var myLatlng = new google.maps.LatLng(value.latitude, value.longitude);
              var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: "text "+value.longitude
              });

              var contentString = value.sport + value.date 

              var infowindow = new google.maps.InfoWindow({
                content: contentString
              });
              
              marker.addListener('mouseover', function() {
                infowindow.open(map, marker);
              });
              marker.addListener('mouseout', function() {
                infowindow.close();
              });
              marker.addListener('click', function() {
                window.location.href = '/events/' + value.id + '';
              });
          });
        });
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq5MfneZn7AftwwvG7m4ifBf28uU5NXnk&callback=initMap">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq5MfneZn7AftwwvG7m4ifBf28uU5NXnk&libraries=places&callback=initAutocomplete"
     async defer></script>
  </body>
</html>