<% if user_signed_in? %>

<form>
<select name="sport" id="sport">
  <option disabled selected value> -- select an sport -- </option>
  <option value="soccer">Soccer</option>
  <option value="tennis">Tennis</option>
  <option value="football">Football</option>
  <option value="volleyball">Volleyball</option>
</select>
<input type="number" name="minnumber" id="minnumber" min="1" max="30">
<input type="number" name="maxnumber" id="maxnumber" min="1" max="30">
<input type="date" name="date" id="date">
<input type="time" name="starttime" id="starttime">
<input type="time" name="endtime" id="endtime">
</form>

<button type="button" id="submit-button">Send data</button>

<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        width: 100%;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <% else %>

    <p>please sign in</p>

    <% end %>
    <script>
    
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 44.540, lng: -78.546},
            zoom: 8
        });

        var marker;
        var latitude;
        var longitude;

        function placeMarker(location) {
          if ( marker ) {
            marker.setPosition(location);
          } else {
            marker = new google.maps.Marker({
              position: location,
              map: map
            });
          }
          latitude = location.lat();
          longitude = location.lng();
          
        }

        $( "#sport" ).change(function() {
          sport = $(this).find(":selected").text()
        });

        $( "#minnumber" ).change(function() {
          minnumber = $(this).val()
        });

        $( "#maxnumber" ).change(function() {
          maxnumber = $(this).val()
        });

        $( "#date" ).change(function() {
          date = $(this).val()
        });

        $( "#starttime" ).change(function() {
          starttime = $(this).val()
        });

        $( "#endtime" ).change(function() {
          endtime = $(this).val()
        });

        google.maps.event.addListener(map, 'click', function(event) {
          placeMarker(event.latLng);
        });

        $('#submit-button').on('click', function() {
          $ .ajax({
                url : "/events",
                type : "post",
                data : { sport: sport, min_num_players: minnumber, max_num_players: maxnumber, latitude: latitude, longitude: longitude, start_time: starttime, end_time: endtime, date: date }
            });
        });

      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq5MfneZn7AftwwvG7m4ifBf28uU5NXnk&callback=initMap">
    </script>
  </body>
</html>